@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<h7>Welcome to your Omiwolsdam's website development world! </h7>

<SurveyPrompt Title="How is Blazor working for you?" />

<h6> Here to try out a quick test? If YES, try the <strong> click me </strong> button below! </h6>

<Counter IncrementAmount="5"/>
